.pointLabel {
  color: var(--gray-gray300, #a4a4a4);
  font-family: 'Noto Sans KR';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.point {
  color: var(--main-main, #efff04);
  text-align: right;
  font-family: 'Noto Sans KR';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.goto {
  color: var(--white-white, #fff);
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.dividerH {
  width: 100%;
  border-top: 1px solid var(--gray-gray400, #5a5a5a);
}
