.authBox {
  width: 100%;
  max-width: 520px;
  height: fit-content;
  margin: auto 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 744px) {
  .authBox {
    margin: auto 20px;
  }
}
